# Python
__pycache__/
*.pyc
.venv/
.env

# Backend data
backend/data/uploads/*
backend/data/outputs/*
backend/data/pdfs/*
!backend/data/uploads/.gitkeep
!backend/data/outputs/.gitkeep
!backend/data/pdfs/.gitkeep

# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
# Flutter build
mobile_app/build/
mobile_app/.dart_tool/
mobile_app/.idea/
mobile_app/.vscode/
mobile_app/*.iml
mobile_app/pubspec.lock